*{

	margin: 0;
}

body{


background-color:#b39980;
width: 100%;



}

  
.kraloua{
	 height:7% ; 
     width:100%; 
  
	 color: #fff;
	font-size: 25px;
	background-color:#ff9900;
	position:fixed;
    top:0;
    right: 0;
    left: 0;
 
     

     
}
 
 .kraloua h1{

	font-family: 'Nosifer', cursive;
	position: absolute;

	left:800px;
	top:0px

} 
.kraloua ul{
	margin-top:15px;
	 
		 

	 
	   padding-left: 40px;
		   
	   list-style:none; 
	   word-spacing: 1em;


}
.kraloua li{
	 
	margin:left 100px;
	font-size: 30px;
	 
	 
	display: inline;
 
}

.kraloua a{

    font-family: 'Nosifer', cursive;

	color:#fff;
	text-decoration: none;
	font-size:24px;
	padding-right:15px;
}
a:hover{


	color: black;
}
.taha{
	 


position: absolute;
top:300px;
left: 300px;

}
.image{
	 
	float: left;

	padding:40px;
	 

}
.csgo:hover{
	box-shadow: 10px  10px 5px   ;
	 color: red;


}






 
